<div class="card">
  <a href={{$ctrl.project.url}} target="_blank">
    <img class="card-img-top" ng-src={{$ctrl.project.imgUrl}}>
  </a>
  <div class="card-body">
    <h4 class="card-title">{{$ctrl.project.name}}</h4>
    <span class="creator-links" ng-repeat="creator in $ctrl.project.creators"><a class="card-link" href={{creator.url}} target="_blank">{{creator.name}} </a></span>
    <br><br>
    <button type="button" class="btn btn-outline-secondary" ng-click="$ctrl.handleClick($ctrl.project)">
      <span class="fa fa-star" aria-hidden="true"></span> 
    </button>
  </div>
</div>

