
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <!-- <div id="imaginary-container"> -->
        <form class="form-group">
          <div id="search-bar" class="input-group">
            <input type="text" class="form-control" id="search" placeholder="Search..." ng-model="$ctrl.query">
            <span class="input-group-btn">
                <a href="/search-results">
                  <button id="search-button" type="submit" class="btn btn-outline-secondary" ng-click="$ctrl.handleClick($ctrl.query)">
                    <i class="fa fa-search"></i>
                  </button>
                </a>
            </span>
          </div>
        </form>
      <!-- </div> -->
    </div>
  </div>
</div>