
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <form class="form-group">
        <div id="search-bar" class="input-group">
          <input type="text" class="form-control" id="search" placeholder="Search..." ng-model="$ctrl.query">
          <div class="input-group-append">
            <a href="/search-results" id="search-button" type="submit" class="btn btn-outline-secondary" ng-click="$ctrl.handleClick($ctrl.query)">
              <i class="fa fa-search"></i>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>